/* stylelint-disable property-no-vendor-prefix */
.card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 24px;
  padding: 32px 24px;
  background-color: $color-black-card;

  &__title {
    padding-bottom: 8px;

    @include desktop {
      padding-bottom: 16px;
    }
  }

  &__description {
    display: block;
    font-weight: 400;
    color: $color-white-80;

    &--icon {
      padding-right: 87px;

      @include tablet-xl {
        padding-right: 110px;
      }

      @include desktop-xl {
        padding-right: 215px;
      }
    }
  }

  &__icon {
    position: absolute;
    right: -45px;
    top: 0;
    display: block;
    width: 130px;
    height: 100%;

    img {
      -o-object-fit: cover;
      object-fit: cover;
    }

    @include tablet {
      right: -35px;
    }

    @include tablet-xl {
      width: 165px;
    }

    @include desktop-xl {
      right: 0;
      width: 210px;
    }
  }

  @include tablet-xl {
    padding: 40px 32px;
  }

  @include desktop-xl {
    padding: 48px 40px;
  }
}
