.card {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 24px;
  padding: 32px 24px;
  background-color: $color-black-card;

  &__description {
    display: block;
    padding-right: 87px;
    font-weight: 400;
    color: $color-white-80;

    @include tablet-xl {
      padding-right: 110px;
    }

    @include desktop-xl {
      padding-right: 215px;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 85px;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include tablet {
      width: 95px;
    }

    @include tablet-xl {
      width: 129px;
    }

    @include desktop-xl {
      width: 180px;
    }
  }

  @include tablet-xl {
    padding: 40px 32px;
  }

  @include desktop-xl {
    padding: 48px 40px;
  }
}
