.author {
  display: flex;
  flex-direction: column;
  margin-bottom: 94px;
  gap: 24px;

  &__info {
    display: flex;
    order: 2;
    gap: 8px;

    @include tablet {
      align-items: center;
      gap: 16px;
    }
  }

  &__image {
    display: block;
    flex: none;
    width: 48px;
    height: 48px;

    @include desktop {
      height: 66px;
    }
  }

  &__description {
    color: $color-white-60;

    @include desktop {
      margin-top: 4px;
    }
  }

  &__citation {
    position: relative;
    order: 0;

    &::before {
      content: "";
      position: absolute;
      top: -30px;
      display: block;
      width: 27px;
      height: 19px;
      background-image: url("../../../../public/images/citation-quotes.svg");

      @include tablet {
        display: none;
        margin-bottom: 0;
      }

      @include desktop-xl {
        gap: 32px;
      }
    }

    @include tablet {
      order: 3;
    }
  }

  &__quotes {
    display: none;

    @include tablet {
      display: inline;
    }
  }

  @include desktop-xl {
    gap: 32px;
  }
}
