.hero {
  position: relative;

  &__background {
    position: absolute;
    width: 100%;
    height: 100vh;

    img {
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;

    @include tablet-xl {
      gap: 8px;
    }
  }

  &__image {
    width: 147px;
    height: 59px;

    img {
      width: 100%;
      height: 100%;
    }

    @include tablet {
      position: absolute;
      right: -127px;
      top: -107px;
      width: 189px;
      height: 119px;
    }

    @include tablet-xl {
      right: -159px;
      top: -99px;
      width: 163px;
      height: 103px;
    }

    @include desktop {
      right: -132px;
      top: -97px;
      width: 182px;
      height: 115px;
    }

    @include desktop-xl {
      right: -245px;
      top: -205px;
      width: 340px;
      height: 212px;
    }
  }

  &__title {
    font-weight: inherit;
    font-size: 28px;
    text-align: center;

    &--bold {
      font-size: 28px;
    }

    &,
    &--bold {
      line-height: 1.3;

      @include tablet {
        font-size: 40px;
        line-height: 1.2;
      }

      @include tablet-xl {
        font-size: 44px;
        line-height: 1.18;
      }

      @include desktop {
        font-size: 48px;
        line-height: 1.08;
      }

      @include desktop-xl {
        font-size: 64px;
        line-height: 1.125;
      }
    }
  }

  &__subtitle {
    font-weight: inherit;
    text-align: center;
    color: $color-white-80;

    &--pink {
      color: $color-pink;
    }
  }

  &__indent {
    @include tablet {
      display: none;
    }
  }

  &__arrow {
    position: absolute;
    bottom: 40px;
    width: 17px;
    height: 64px;

    @include tablet {
      bottom: 80px;
    }
  }
}
