/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable @stylistic/indentation */
.buzzword {
  position: relative;
  padding-top: 160px;
  padding-bottom: 72px;

  &__tabs {
    display: flex;
    flex-flow: row wrap;
    padding-top: 24px;
    gap: 8px;

    @include tablet {
      justify-content: center;
      padding-top: 40px;
    }

    @include desktop {
      gap: 10px;
    }

    @include desktop-xl {
      gap: 16px;
    }
  }

  &__tab-item {
    border: 1px solid $color-white-60;
    border-radius: 133px;
    padding: 8px 16px;
    color: $color-white-80;
    pointer-events: none;

    &--linked {
      position: relative;
      z-index: 0;
      background: $color-gradient;
      -webkit-background-clip: text;
      background-clip: text;
      pointer-events: auto;
      -webkit-text-fill-color: transparent;

      @media (hover: hover) {
        border-color: $color-white-60;

        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          border-radius: 133px;
          background: inherit;
          background-origin: border-box;
          background-clip: border-box;
          inset: 0;
          -webkit-mask:
            linear-gradient($color-white 0 0) padding-box,
            linear-gradient($color-white 0 0);
          mask:
            linear-gradient($color-white 0 0) padding-box,
            linear-gradient($color-white 0 0);
          -webkit-mask-composite: xor;
                  mask-composite: exclude;

          @include desktop {
            border: 2px solid transparent;
          }
        }

        &:hover::before {
          -webkit-mask: none;
                  mask: none;
        }

        &:hover {
          border: 1px solid transparent;
          -webkit-text-fill-color: $color-white-80;

          @include desktop {
            border: 2px solid transparent;
          }
        }

        @include desktop {
          border-color: transparent;
        }
      }
    }

    @include tablet-xl {
      padding: 10px 20px;
    }

    @include desktop {
      border-width: 2px;
      padding: 12px 24px;
    }

    @include desktop-xl {
      padding: 16px 32px;
    }
  }

  &__image {
    position: relative;
    right: -59px;
    top: 35px;
    display: block;
    margin: 0 auto;
    width: 224px;
    height: 156px;

    @include tablet {
      right: -240px;
      top: 44px;
    }

    @include tablet-xl {
      right: -335px;
      top: 50px;
    }

    @include desktop {
      right: -465px;
      top: 45px;
      width: 288px;
      height: 222px;
    }

    @include desktop-xl {
      right: -345px;
      top: 26px;
      width: 436px;
      height: 298px;
    }
  }

  @include tablet {
    padding: 264px 0;
    text-align: center;
  }

  @include tablet-xl {
    padding: 242px 0;
  }

  @include desktop {
    padding: 260px 0;
  }

  @include desktop-xl {
    padding: 381px 0;
  }
}
