.result {
  display: none;

  &__wrapper {
    @include tablet {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    @include desktop-xl {
      gap: 32px;
    }
  }

  &__cards {
    @include tablet {
      margin-left: auto;
      width: calc(50% - 12px);

      > *:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    @include desktop-xl {
      width: calc(50% - 20px);

      > *:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }

  &__image {
    @include tablet {
      position: relative;
      width: 340px;
      height: 284px;
    }

    @include tablet-xl {
      height: 352px;
      min-width: 436px;
    }

    @include desktop {
      height: 530px;
      min-width: 596px;
    }

    @include desktop-xl {
      height: 646px;
      min-width: 712px;
    }
  }

  &__background {
    @include tablet {
      position: absolute;
      right: 0;
      bottom: -180px;
      width: 574px;
      height: 673px;
    }

    @include tablet-xl {
      bottom: 235px;
      width: 574px;
      height: 673px;
    }

    @include desktop {
      bottom: 135px;
      width: 646px;
      height: 910px;
    }

    @include desktop-xl {
      bottom: -145px;
    }
  }

  @include tablet {
    position: relative;
    display: block;
    padding: 224px 0;
  }
}
