// Container padding
$pd-mobile: 16px;
$pd-tablet: 32px;
$pd-tablet-xl: 64px;
$pd-desktop: 75px;

// Black color
$color-black: rgb(0 0 0);
$color-black-card: rgb(20 19 19);

// White color
$color-white: rgb(255 255 255);
$color-white-60: rgb(255 255 255 / 60%);
$color-white-80: rgb(255 255 255 / 80%);

// Other color
$color-pink: rgb(239 0 154 / 100%);
$color-purple: rgb(188 0 204 / 100%);
$color-link: rgb(0 240 255 / 80%);
$color-gradient: linear-gradient(84.49deg, rgb(255 168 0) -17.03%, rgb(239 0 154) 112.68%);
